@charset "utf-8";
/* style.css */
body{color:blueviolet; font-size:2em;}
/* em: 상대적 크기 (디바이스에따라 적응되기 편함)
    1em: 16px 정도
    2em: 32px 가량.. */
    
div{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: brown; margin: 1em; font-weight: bold;}